
/*---responsive styling---*/


/*---General Stlying---*/

html, body{
  width: 100%;
  margin: 0 auto;
  
}
ul, li{
 list-style: none;

}
a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}

#btn1:hover{
  color:beige;
  background-color:#495e57;
  text-decoration: none;
}
button:hover{
  color:#f4ce14;
  background-color:black;
}


h1 {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

h2{
  color:#f4ce14;
  font-size:40px;
}
h3{
  font-size:25px
}

.banner p {
font-size:20px;
max-width:500px;
line-height:1;
margin-bottom:35px;
}


button{
  background-color:#f4ce14;
  color:black;
  padding: 16px 16px;
  border: none;
  text-decoration: none;
  border-radius:15px;
  font-size:18px;
  font-weight:bold;
  cursor:pointer;

}



/*---Navigation Styling---*/

.nav-item:hover{
  text-decoration: underline;
  
}

.navbar{
  display: flex;
  justify-content: center;
  padding: 10px 15%;

}
.bar{
  width:25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}
.nav-icon{
  padding-top:25px;
  padding-left:50px;
  cursor: pointer;
  max-width:100%;
}
.nav-list{
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-between;
  align-content: center;
}
.nav-links{
  list-style:none;
  display: flex;
  align-items: center;
}
.nav-links.visible{
  flex-direction: column;
  position: absolute;
  top: 30px;
  right: 15px;
  width:10%;
  background-color: white;
  display:flex;
  align-items:flex-end;
}


nav ul li {
  display: inline-block;
  padding: 10px;
}
@media screen and (max-width: 849px) {
  .nav-links {
    display: none; 
  }
  .banner-img{
    display: none;

  }
  
}

@media screen and (min-width: 850px) {
  .nav-icon {
    display: none; 
  }
  .nav-items{
    display:none;
  }
}



/*---Header Styling---*/

header{
  background: color #495e57;
  padding:30px 0;
}
.header section{
  color: #edefee;
  padding: 10px 15%;
  position: relative;
}


.logo{
  padding-top: 28px;
  padding-left:20px;
}

/*---Main Section Styling---*/

main{
  display: grid;
  background-color: rgb(140, 162, 155);
}

/* Specials Styling */

.menu-container{
  margin: 110px auto;
  padding: 10px 13%;
}
.menu-container h2{
  color:#000;
}
.menu-header {
  display:flex;
 justify-content:space-between;
 align-items:center;
 flex-wrap:wrap;
}

.cards{
  margin-top: 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 1rem;
}

.menu-items{
 width: 350px;
  background:#a9c8be;
  border-radius: 10%;
}
.menu-container img{
 width: 100%;
 height: 233px;
 border-radius: 10%;
}
.card-img{
  border-radius: 10%;


  
}


/*---Hero-section---*/

fieldSet {
  color:#f4ce14;
  font-size: 25px;
  font-weight:bold;
  padding:5px 15%;
  border:none;
  margin-top:-2%;
  
}

.reservation-title{
  color:#f4ce14;
  font-size:40px;
  font-weight:bold;
  padding:10px 15%;
   font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;

}
.confirmed{
  color:#f4ce14;
  font-size:40px;
  font-weight:bold;
  padding:100px 15%;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;
}

.formField{
  padding:45px 25px;
  border:none;
}

input, label{
  display:inline-block;
  margin-right:25px;
  margin-bottom:25px;
}

/* ---imgs--- */
.banner-img{
  position: absolute;
  right:15%;
  top:18%;
  width:350px;
}

.banner-img img {
  width:100%;
  height:380px;
  border-radius:20px;
}

 




/*---Footer Styling---*/

.footer-container{
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: antiquewhite;
  max-width: auto;

}

.footer-list{
  display: inline-flex;
  padding: 30px;
}


