.app{
  border: 10px solid red;
}

/*---responsive styling---*/


/*---General Stlying---*/
ul{
 list-style: none;

}
a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}


h1 {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/*---Navigation Styling---*/

.nav-item{
  padding: 20px;
  text-decoration: none;


}
.navbar{
  display: flex;
  justify-content: center;
}
.nav-list{
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-between;
  align-content: center;
}

/*---Header Styling---*/

header{
  display: grid;
}

.logo{
  padding-top: 28px;
}

/*---Main Section Styling---*/

main{
  display: grid;
  background-color: aquamarine;
}

/*---Hero-section---*/



/*---Footer Styling---*/

.footer-container{
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: antiquewhite;
  /* min-height: 400px; */
  max-width: auto;

}

.footer-list{
  padding: 30px;
}


