
/*---responsive styling---*/


/*---General Stlying---*/

html, body{
  width: 100%;
  margin: 0;
  padding: 0;
}
ul, li{
 list-style: none;

}
a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}


h1 {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/*---Navigation Styling---*/

.nav-item{
  padding: 20px;
  text-decoration: none;


}
.navbar{
  display: flex;
  justify-content: center;
  max-width: 100%;

}
.bar{
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}
.nav-list{
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-between;
  align-content: center;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}
@media screen and (max-width: 992px) {
  .nav-item {
    display: none; 
  }
}

@media screen and (min-width: 992px) {
  .bar {
    display: none; 
  }
}

nav{
  z-index: 10001;
}


/*---Header Styling---*/

header{
  display: grid;
}

.logo{
  padding-top: 28px;
}

/*---Main Section Styling---*/

main{
  display: grid;
  background-color: aquamarine;
}

/*---Hero-section---*/



/*---Footer Styling---*/

.footer-container{
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: antiquewhite;
  /* min-height: 400px; */
  max-width: auto;

}

/* .footer-list{
  padding: 30px;
} */


